<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Conference rooms </title>
</head>
<body>

<div>
    <h3> Menu: </h3>
    <h4>
        <ul>
            <li> <a href="/"> conference room list </a> </li>
            <li> <a href="room/new"> add conference room </a> </li>
        </ul>
    </h4>
</div>

<br><br><br>

<div>

    {% if l_r == 0 %}

        No conference rooms!

    {% else %}

        {% for r in rooms %}

            <li> name: {{ r.name }}, capacity: {{ r.capacity }} </li>

        {% endfor %}


    {% endif %}

</div>


<br><br><br><br><br>
<footer> author: Magdalena Żuk </footer>

</body>
</html>