<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Conference rooms </title>
</head>
<body>

<div>
    <h3> Menu: </h3>
    <h4>
        <ul>
            <li> <a href="/"> conference room list </a> </li>
            <li> <a href="room/new"> add conference room </a> </li>
        </ul>
    </h4>
</div>

<br><br><br>

<div>

    {% if l_r == 0 %}

        No conference rooms!

    {% else %}

        <h3> Conference room's list: </h3>

        {% for r in rooms %}
        <ul>
            <li> <h4> <a href="/room/{{ r.id }}"> {{ r.name }} </a> </h4></li>
            <ul>
                <li> capacity: {{ r.capacity }} </li>
                <li> projector: {% if r.projector == True %} YES {% else %} NO {% endif %} </li>
                <li> availability: </li>
            </ul>
        <br>
            <a href="/room/modify/{{r.id}}"><input type="button" value="modify" /></a>
            <a href="/room/delete/{{r.id}}"><input type="button" value="delete" /></a>
            <a href="/room/modify/reserve/{{r.id}}"><input type="button" value="reserve" /></a>
        </ul>
        {% endfor %}


    {% endif %}

</div>


<br><br><br><br><br>
<footer> author: Magdalena Żuk </footer>

</body>
</html>