<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <h4> MENU | | <a href="/"> conference room list</a> | | <a href="/room/new"> add conference room </a>  </h4>
</div>

 <font color ="red"> {{ txt }} </font> <br><br>

<h3> Reservation in {{ room.name }}: </h3>

<div>
      <form method="post">
          {% csrf_token %}

          Select a date of reservation:
          <input type="date" name="date"> <br><br>
          Add comment:<br>
          <textarea class="form-control" id="comment" name="comment"></textarea>


<br><br>
          <input type="submit" value="reserve the room">
      </form>

</div>

<br><br><br><br><br><br>
<footer> author: Magdalena Żuk </footer>

</body>
</html>