<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room: {{ room.name }}</title>
</head>
<body>

<div>
    <h4> MENU | | <a href="/"> conference room list</a> | | <a href="/room/new"> add conference room </a> </h4>
</div>

<br><br><br>

<div>

    <h3> {{ room.name }} </h3>
    <ul>
        <li> capacity: {{ room.capacity }} </li>
        <li> projector: {% if r.projector == True %} YES {% else %} NO {% endif %} </li>
    </ul>
    <h4> reservations: </h4>


</div>

<a href="/room/modify/{{room.id}}"><input type="button" value="modify" /></a>
<a href="/room/delete/{{room.id}}"><input type="button" value="delete" /></a>
<a href="/room/reserve/{{room.id}}"><input type="button" value="reserve" /></a>

<br><br><br><br><br><br>
<footer> author: Magdalena Żuk </footer>

</body>
</html>